body {
    font-weight: lighter;
}

@media (max-width: 992px){
    .tohide {
        display: none;
    }
}

header {
    width: 100%;
    height: 60vh;
    background: #fff;
    background-size: cover;
}

h1{
    font-size: 2rem;
}


section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(41,128,185,1) 0%, rgba(109,213,250,1) 43%, rgba(255,255,255,1) 100%) no-repeat 50% 50%;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

section .skewed{
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff;
    transform: skewY(-10deg);
    transform-origin: top left;
}

@media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
 

.card-container {
    perspective: 200rem;
    }
    
    .cardx {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.9s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    }
    
    .card-back {
    top: 0;
    position: absolute;
    transform: rotateY(180deg);
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    }
    
    .card-container:hover .card-front {
    transform: rotateY(180deg);
    }
    
    .card-container:hover .card-back {
    transform: rotateY(0deg);
    }
    
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

    .jumbotron {
        background: rgba(255, 255, 255, 0.75);
        box-shadow: 0 8px 16px -6px black;
    }


.container .title{
    color: #3c4858;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}

.container .title h3{
    font-size: 25px;
    font-weight: 300;
}

.demo{
    width: 80%;
    margin: auto;
}

div.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}

div.card.card-plain {
    background: transparent;
    box-shadow: none;
}
div.card .card-header {
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    background: linear-gradient(60deg,#eee,#bdbdbd);
}

.card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
}

.div.card .card-body{
    padding: 15px 30px;
}

div.card .card-header-primary {
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.text-gra{
    background: -webkit-linear-gradient(0deg,#373B44 0%, #4286f4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-nav-tabs .card-header {
    margin-top: -30px!important;
}

.card .card-header .nav-tabs {
    padding: 0;
}

#sticky-footer {
    flex-shrink: none;
  }

.nav-tabs {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: hsla(0,0%,100%,.2);
    transition: background-color .3s .2s;
}

.nav-tabs .nav-item .nav-link{
    border: 0!important;
    color: #fff!important;
    font-weight: 500;
}

.nav-tabs .nav-item .nav-link {
    color: #fff;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    transition: background-color .3s 0s;
}

.nav-link{
    display: block;
}

.nav-tabs .nav-item .material-icons {
    margin: -1px 5px 0 0;
    vertical-align: middle;
}

.nav .nav-item {
    position: relative;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}